doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='../css/style.css')
    script(src="/js/jquery-1.11.3.min.js", type="text/javascript")
    
  body
    header
      //- h1= t('app.name')
    
    .container
      .main-content
        block content
    footer
      a(href="#", class="logoForis")
      .fraseEmpresa DESARROLLADO POR
    
