extend layout
block content
  .login
    .top
      #logo_darwined
    .bottom
      form#loginform(name="login")
        input#username(type="text", placeholder="USUARIO", required)
        input#password(type="password", placeholder="CONTRASEÑA", required)
        input#entrar(type="submit", value="ENTRAR")
        a.register(href="#{url_daccount}/register") REGISTRATE
        #message
        script(src='js/getToken.js', type='text/javascript')
  footer
    .left
    .right
      a(href="#", class="logoForis")
      .fraseEmpresa DESARROLLADO POR
      
  // background
  canvas(id="viewport", width="1920", height="920")
  script#fragment(type="x-shader/x-fragment")
    include ./../public/utils/fondo.frag
  script(src="js/glsl.min.js", type="text/javascript")
  script(type='text/javascript').
    if (!Glsl.supported()) alert("WebGL is not supported.");
    var glsl = Glsl({
      canvas: document.getElementById("viewport"),
      fragment: document.getElementById("fragment").textContent,
      variables: {
        time: 0 // The time in ms
      },
      update: function (time) {
        this.set("time", time);
      }
    }).start();
      

  
  
        
      
      
          
