extend layout
block content
  form(name="register", id="register", class="form register", action="#{url_faccount}/register", method="post")
      li
        h1 Obten tu cuenta foris
      li(style="height: 60px; font-size: 12px;")
        p Con tu cuenta foris podrás acceder sólo a las aplicaciones que tienes contratadas. Para mayor información visita <a href="#"> nuestros planes </a>  
      li
        input(type="text", name="username", id="username", placeholder="nombre de usuario", required)
      li
        input(type="password", name="password", id="password", placeholder="password", required)
      li
        input(type="nombre", name="nombre", id="nombre", placeholder="nombre", required)
      li
        input(type="apellidos", name="apellidos", id="apellidos", placeholder="apellidos", required)
      li
        select(name="rol", id="rol" required)
          for rol in data.rols
            option(value=rol.id)= rol.nombre
      //- li
      //-   select(name="cliente", id="cliente" required)
      //-     for cliente in data.clientes
      //-       option(value=cliente.id)= cliente.nombre
      input(type="submit", value="Enviar solicitud", id="registrar", class="submit")
      
      
          
