/* Mobile ----------- */
@media only screen
and (max-width : 375px) {
  .login
  {
    width: 80%;
    top: 46%;
  }
}

/* Desktop and laptops */
@media only screen
and (max-width : 1350px) {
  .login
  {
    width: 275px;
    height: 275px;
  }
  .login>.top>#logo_darwined
  {
    background-size: 93%;
  }
  .login>.bottom>form
  {
    padding: 5% 5%;
  }
  .login>.bottom>form input
  {
    font-size: 13px;
  }
}
